*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    background: darkolivegreen;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: gray;
    background-image: url("./assets/body-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

button:active,
button:focus {
    outline: none;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: hsl(0, 0%, 20%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
    box-shadow: 10px 0 20px rgba(0, 0, 0, 1);
}

#menu-list {
    width: 360px;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
}

.menu-item {
    font-size: 1.8rem;
    width: 80px;
    height: 40px;
    padding: 0 5px 0 5px;
    color: white;
    background: hsl(0, 0%, 20%);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.menu-item:hover {
    background: hsl(0, 0%, 30%);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.menu-item:active {
    background: hsl(0, 0%, 18%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

#background {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game {
    min-width: 60%;
    height: 500px;
    position: absolute;
    background-size: auto 100%;
    background-color: darkolivegreen;
    background-image: url("./assets/game-background.jpg");
    background-repeat: repeat;
    border: 2px inset black;
    -webkit-animation: backgroundScroll 15s infinite linear forwards;
    animation: backgroundScroll 15s infinite linear forwards;
}

@keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: 0 -1000px;}
}

@-webkit-keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: 0 -1000px;}
}